*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(57, 56, 56);
}